/* ==========================================================================
   Base styles
   ========================================================================== */

html {
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Karla', sans-serif;
}


/*
 * Custom CSS
*/
body{
  background-color:  hsl(204, 43%, 93%);
}
.wrapper{
  margin:auto;
  padding-top: 10px;
  font-size: smaller;
  width: 90%;
}

.wrapper > div{
  padding: 10px 30px 20px 30px;
}
.r1c1{
  background-color: white;
  border-radius: 10px 10px 0 0;
}
.r1c1 h1{
  color: hsl(179, 62%, 43%);
}
.r1c1 h3{
  color: hsl(71, 73%, 54%);
}
.r1c1 p{
  color: hsl(180, 2%, 67%);
  font-weight: 400;
}
.r2c1{
  background-color: hsl(179, 62%, 43%);
  border-radius: 0;
  
}
.r2c2{
  background-color: hsl(179, 76%, 43%);
  border-radius: 0 0 10px 10px;
}
.r2c1 p{
  padding: 0;
  margin: 0;
}
span.duration{
  vertical-align: super;
  color: #cfcfcf;
}
span.amount{
  font-weight: 700;
  font-size: x-large;
  margin-right: 10px;
  color: inherit;
}
.btn_signup{
  background-color:  hsl(71, 73%, 54%);
  border-radius: 5px;
  border: 0;
  padding: 10px;
  width: 100%;
  color: white;
  margin-top: 20px;
  font-size: larger;
  font-weight: 700;
}

.r2c2 > ul{
  list-style: none;
  font-size: smaller;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 375px) and (max-width: 1440px) {
  
.r1c1{
  background-color: white;
  border-radius: 10px 10px 0 0;
  grid-column: 1/3;
  grid-row: 1/2;
}
.r2c1{
    grid-row: 2/3;
    grid-column:1/2;
    border-radius: 0 0 0 10px;
  }
  .r2c2{
    grid-row: 2/3;
    grid-column:2/3;
    border-radius: 0 0 10px 0;
  }
  .wrapper{
    margin:auto;
    width: 40%;
    height: 420px;
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    margin-left: -20%;
    margin-top: -210px;
    top: 50%;
    left: 50%;
  }
  .btn_signup:hover{
    background-color: hsl(59, 77%, 66%);
    color: hsl(179, 76%, 43%);
  
  }
}
